<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <img class="starship-img" src="{{ asset('images/starship.jpg') }}" alt="Starship" />

        <p class="text-2xl font-serif text-black bg-sky-400 mb-4 shadow-lg rounded p-4">
            Bu paragraf Tailwind CSS ile mavi başlık ve gölgeli kutu olarak biçimlendirildi.
        </p>
        <p class="text-2xl font-serif text-black bg-yellow-300 border border-black rounded p-4">
            İkinci paragraf Tailwind CSS ile sarı arka plan ve kenarlık ile biçimlendirildi.
        </p>

        {% block body %}
        {% endblock %}
    </body>
</html>
